.navbar{
    background-color: #34495e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.fa-code{
    margin-left: 10px;
}
.nav-logo{
    color: #fff;
    align-items: center;
    margin-left: 35px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: auto;
}
.nav-menu{
    display: flex;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
}
.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;
    height: 100%;
}
.nav-item{
    line-height: 40px;
    margin-right: 15px;
}
.nav-item:after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: width 0.5s ease;
}
.nav-item:hover:after{
    width: 100%;
    background-color: #81ecec;
}
.nav-icon{
    display: none;
}
@media only screen and (max-width: 900px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        background-color: #34495e;
        border-top: 1px solid white;
        margin-right: 0;
        left: -110%;
        opacity: 1;
        padding: 25px 0;
        transition: 0.2s ease all;
    }
    .nav-item{
        margin-right: 0;
        padding: 15px 0;
    }
    .nav-menu.active{
        background-color: #34495e;
        left: 0;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 1;
    }
    .nav-logo{
        margin-left: 20px;
    }
    .nav-icon{
        display: block;
        margin-right: 20px;
        font-size: 24px;
        color: #ffff;
        cursor: pointer;
    }
    .nav-icon .fa-times{
        transform: rotate(360deg);
        transition: all 0.2s ease-in-out;
    }
    .nav-icon .fa-bars{
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
    }
}